[flake8]
select = ANN,B,B9,BLK,C,D,E,F,I,S,W
  # only check selected error codes
max-complexity = 12
  # C9 - flake8 McCabe Complexity checker -- threshold
max-line-length = 120
  # E501 - flake8 -- line length too long, actually handled by black
extend-ignore =
    # E W - flake8 PEP style check
    # whitespace, import, line length, binary operator line breaks
    E203,E402,E501,W503,
    # S - flake8-bandit safety check
    # assert removed in bytecode, no request timeout, pRNG not secure, hardcoded password
    S101,S113,S311,S105,
    # ANN - flake8-annotations type annotation check
    # ignore all for now, but always ignore some
    ANN,ANN002,ANN003,ANN101,ANN102,ANN202,
    # D1 - flake8-docstrings docstring style check
    # missing docstrings
    D100,D102,D103,D104,D105,
    # D2 D4 - flake8-docstrings docstring style check
    # whitespace issues and first line content
    D200,D205,D400,D401,
    # DAR - flake8-darglint docstring correctness check
    # mismatched or missing type in docstring
    DAR103,
application-import-names = app_gradio,text_recognizer,tests,training
  # flake8-import-order: which names are first party?
import-order-style = google
  # flake8-import-order: which import order style guide do we use?
docstring-convention = numpy
  # flake8-docstrings: which docstring style guide do we use?
strictness = short
  # darglint: how "strict" are we with docstring completeness?
docstring-style = numpy
  # darglint: which docstring style guide do we use?
suppress-none-returning = true
  # flake8-annotations: do we allow un-annotated Nones in returns?
mypy-init-return = true
  # flake8-annotations: do we allow init to have no return annotation?
exclude =
    .venv,
    env,
    .vscode,
    lightning_logs,
    wandb,
    .git,
    __pycache__